h1{
    text-align: center;   
}
.names{
    text-align: center;
}
.Male{
    color: navy;
    float: left;
}
.Female{
    color: palevioletred;
    float: left;
}
.container {
    padding: 20px;
    margin-right: auto;
    margin-left: auto;