h1{
    text-align: center; 
}
.names{
    text-align: center;
    color: white;
}
.Male{
    color: navy;
    float: left;
}
.Female{
    color: pink;
    float: left;
}
.container {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
body{
    background-color:lightslategray;
}
.red{
    color: white;
}