h1{
    text-align: center; 
}
.names{
    text-align: center;
    color: white;
}
.Male{
    color: navy;
    float: left;
}
.Female{
    color: pink;
    float: left;
    padding-left: 500x;
}
.container {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
body{
    background-color:lightslategray;
}
.red{
    color: white;
}
.baby{
    float: right;
    margin: 40px;
    background-color: white;
    padding: 20px;
}
body{
    font-size: xx-large;
}
